:root {
  /* ?colors */
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --translucent-cyan: hsla(180, 66%, 49%, 0.61);
  --dark-violet: hsl(257, 27%, 26%);
  /* Secondary */
  --error: hsl(0, 87%, 67%);
  /* Neutural */
  --light-gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --light-violet: hsl(259, 11%, 39%);
  --dark-blue: hsl(255, 11%, 22%);
  --darker-violet: hsl(260, 8%, 14%);
  --violet: rgb(203, 26, 123);
}

body,
html {
  position: relative;
  z-index: -1000;
  background-color: white;
  overflow-x: hidden;
  margin: 0;
}
